@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root{
    --background-default: rgb(103, 144, 233);
    --background-light: rgb(255, 255, 255);
    --size-card: 840px;
    --background-dark: rgb(77, 107, 170);
}

li{
    margin-bottom: 15px;
    margin-top: 15px;
}

body, html{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background-default);
}

.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: var(--size-card);
    margin: 10px auto;
    padding: 20px;
    background-color: var(--background-light);
    border-radius: 10px;
}